<!DOCTYPE html>
<html lang="en">

<head>
    <title>Geocaching Server</title>
    <meta name="author" content="Vadim Goryainov" />
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('client_bp.static', filename='style.css') }}" />
</head>

<body>
    <div class="content">{% block content %}{% endblock %}</div>
    <!-- for production -->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    {% block scripts %}{% endblock %}
</body>

</html>