{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
crossorigin=""/>
{% endblock %}

{% block content %}
<div id="vm" code="{{ game_code }}">
  <div>
    <p>Game Code: [[code]]</p>
    <p>Titel: <input type="text" v-model="game.name"></p>
  </div>

  <!--
  <div v-bind:class="marker_selected < 0 ? 'sidepanel' : 'sidepanel_active'">
    <div v-if="game.quizes.length && marker_selected > -1">
      <p>[[ game.quizes[marker_selected].text ]]</p>
    </div>
  </div>
  -->
  <div id="map" ref="map" style="height: 500px;"></div> 
  
  <div v-if="game.hasOwnProperty('quizes')">
    <div v-if="game.quizes.length && marker_selected > -1">
      <p>
        Lat: [[ game.quizes[marker_selected].lat ]], Lon: [[ game.quizes[marker_selected].lon ]]
      </p>

      <p>
        <input type="text" v-model="game.quizes[marker_selected].text" @change="quizTextChange">
        <input type="button" v-on:click="remove_quiz()" value="Frage entfernen">
      </p>

      <form>
        <div v-for="(option, index) in game.quizes[marker_selected].options" :key="'option'+index">
          <p>
            <input type="radio"
              :checked="game.quizes[marker_selected].correct==index" 
              v-on:click="updateCorrect(marker_selected, index)">
            <input type="text" v-model="game.quizes[marker_selected].options[index]">
            <input type="button" v-on:click="remove_option(index)" value="Option entfernen">
          </p>
        </div>
      </form>
      <p>
        <button v-on:click="add_option()">Option hinzufügen</button>
      </p>
    </div>
  </div>

</div>

</div>


{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
crossorigin=""></script>
<script src="{{ url_for('client_bp.static', filename='map_view.js') }}"></script>
{% endblock %}